[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
alembic = "*"
black = "*"

[packages]
cryptography = "*"
fastapi = "*"
pyjwt = "*"
requests = "*"
sqlalchemy = "*"
uvicorn = "*"
pyyaml = "*"
pydantic = "1.10"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
